<%= render 'searchForm' %>

<% @events.each do |event| %>

	<h2>Date: <%= event.date %></h2>
	<% @venue = Venue.find(event.venue_id) %>
	<p><%= @venue.name %></p>


<% end %>


<%= link_to "back", venues_path %>