<%= render 'searchForm' %>


<% @events.each do |event| %>


	<h2>Date: <%= event.date %></h2>
	<% @venue = Venue.find(event.venue_id) %>
	<h2><%= link_to @venue.name, @venue %></h2>



<% end %>


<%= link_to "back", venues_path %>