<%= render 'searchForm' %>


<% @events.each do |event| %>


	<h2>Date: <%= event.date %></h2>
	<% @venue = Venue.find(event.venue_id) %>
	<h3>Venue: <%= @venue.name %></h3>


<% end %>


<%= link_to "back", venues_path %>