

<h1>List of Venues</h1>
<div class="pure-g">
	<div class="pure-u-1">
		<div class="pure-u-5-24"><%= link_to "Create New Venue", new_venue_path %></div>

		<div class="pure-u-5-24"><%= link_to "Create New Band", new_band_path%></div>
	</div>
</div>

<% @venues.each do |venue| %>
	<h2><%= link_to venue.name, venue %></h2>
<% end %>


