<% @events.each do |event| %>
<% @band = Band.find(event.band_id) %>
 <h3><%= event.date %></h3>
 <p>Alcohol Served: <%= event.alcohol_served %></p>
 <p>Band: <%= @band.name %></p><br>
<% end %>



<%= link_to "new event", new_venue_event_path(@venue) %>
