body {
	background: url(http://www.mrwallpaper.com/wallpapers/gradient-background.jpg) no-repeat center center fixed;;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

html {
	border: 2px solid black;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.header {
	font-size: 300%;
	text-align: center;

}

.navlinks{
	text-align: center;
	font-size: 120%;
}

.head_bar{
	border: 1px solid black;
	margin-top: 20px;
}

.copyright {
text-align: center;
}

a:link {
    text-decoration: none;
    color: #610B0B;
}
a:visited {
    background-color: white;
    text-decoration: none;
    color: #610B0B;
}

a:hover {
    background-color: #FF704D;
    text-decoration: none;
    color: #F5A9A9;
}

a:active {
    background-color: #FF704D;
    text-decoration: none;
}